body {
    margin:0px;
    padding:0px;
}

body > .container {
    padding: 60px 15px 0;
}

.tags {
    margin-bottom: 20px;
}

.loadMorePosts {
    margin-top: 20px;
    margin-bottom: 20px;
}

.loadMorePosts button {
    width: 70%;
    height: 50px;
    font-size: 20px;
}

.label-info {
    font-size: 14px;
}

.col-lg-3 ul li {
    margin-top: 10px;
    margin-bottom: 14px;
}

.infoText {
    margin-bottom: 20px;
}

.well {
    margin-top: 20px;
}

.commentName {
    margin-bottom: 20px;
}

.comments {
    margin-bottom: 40px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading, .checkbox {
    margin-bottom: 30px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}


.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.adminHeader {
    width: 100%;

    background-color: #222222;
    padding: 5px;
}

.adminHeader .welcome {
    font-size: 18px;
    color: #999;
    display: inline-block;
    margin: 0 auto;
}

.insideHeader {
    width: 80%;
    margin: 0 auto;
}

.adminHeader .adminLinks {
    float: right;
    font-size: 18px;
    color: #999;
    margin: 0 15px;
}

.signFailed {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

